<!DOCTYPE html>
<html>

<head>
  <title>Ingresa tu email para iniciar sesion</title>
</head>

<body>
  <h1>Completa los datos para crear tu cuenta</h1>
  <form action="/login" method="post">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Contraseña:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Continuar">
  </form>
</body>

</html>