<footer class="main-footer">
  <div class="iconosFooter">
    <a class="insta" href="#"><i class="fab fa-instagram"></i></a>
    <a class="tik" href="#"><i class="fab fa-tiktok"></i></a>
    <a class="face" href="#"><i class="fab fa-facebook-square"></i></a>
  </div>

  <p>Todos los derechos reservados</p>
  <p>PhotoArtStudio © 2022</p>
</footer>