<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<header class="header">
  <div class="header-left">
    <img src="logo.png" alt="Logo" class="logo">
    <span class="location">Enviar a Capital Federal</span>
  </div>
  <div class="header-center">
    <input type="text" placeholder="Buscar productos, marcas y más..." class="search-bar">
    <nav class="nav">
      <a href="#">Categorías</a>
      <a href="#">Ofertas</a>
      <a href="#">Cupones</a>
      <a href="#">Supermercado</a>
      <a href="#">Moda</a>
      <a href="#">Mercado Play</a>
      <a href="#">Vender</a>
      <a href="#">Ayuda</a>
    </nav>
  </div>
  <div class="header-right">

    <a href="#" class="account">Creá tu cuenta</a>
    <a href="#" class="login">Ingresá</a>
    <a href="#" class="purchases">Mis compras</a>
    <img src="cart.png" alt="Carrito de compras" class="cart">
  </div>
</header>